.active{
    background-color: #E7FE29;
    color: black;
}
.button{
    background-color: rgb(250, 249, 249);
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}